<div class="fling_button">
  <%= link_to "Fling!", new_fling_path %>
</div>

<div class="rightside">
  <h3>Share your feelings with a fling!</h3>
  <p>
    Let your friends know how you feel about them by flinging something at them today.  Just click Fling! and get started.
  </p>
</div>